<h1>Report</h1>
<table>
  <tr>
    <th>Post</th>
    <th>Comments</th>
    <th>Votes</th>
  </tr>
  <% @posts.each do |post| %>

      <tr>
        <td><%= post.title %></td>
        <td><%= post.comments.count %></td>
        <td><%= post.votes.count %></td>
      </tr>
  <% end %>
</table>