

  <% @votes.each do |vote| %>
      <div class="usercard">
      <span class="username"><%= vote.user.name %></span>
       <span class="emailid"><%= vote.user.email %></span>
      </div>
  <% end %>